//Header
.header-section{
	border-bottom: 2px solid lighten(#484848, 60%);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $headerHeight;

	&__menu {
		display: flex;
		align-items: center;
		z-index: 3;

		li {
			margin-right: 3vw;
			padding: 10px 0;

			&:last-child {
				margin: 0;
			}
		}

		& > li {
			position: relative;
		}

		a {
			color: $text;
			display: inline-block;

			&:after {
				content: "";
				height: 2px;
				width: 0%;
				background-color: white;
			}

			&:hover {
				&:after {
					width: 100%;
				}
			}
		}

		&__logo {
			max-width: 200px;
			@media (max-width: $md3+px) {
				max-width: 120px;
			}
		}
	}
}

.header__menu{
	font-size: 14px;
	color: lighten(#484848, 20%);
	p{
		@media (max-width: 570px){
			display: none;
		}
	}
	strong{
		font-size: 20px;
		color: black;
		@media (max-width: 570px){
			display: none;
		}
	}
	sup{
		font-size: 17px;
		@media (max-width: 570px){
			display: none;
		}
	}
}


